@import "fonts.css";

/* Variables */
:root {
  /* Colors */
  --text-color: #272d38;
  --main-light-bg: #fdfcfc;
  --main-dark-bg: #f6f6f6;
  --testimonial-img-border: #dedcdb;
  --btn-bg: #8eadd5;
  --btn-color: #ffffff;
  --companies-intro-text: #667085;
  --ellipse-top: rgba(142, 173, 213, 0.24);
  --ellipse-middle: rgba(142, 173, 213, 0.3);
  --active: rgb(84, 124, 177);
}

/* Global */
html {
  scroll-behavior: smooth;
}

body.non-scrolled {
  overflow-y: hidden;
}

.main {
  display: grid;
  grid-template-rows: min-content 1fr max-content;
  font-family: Inter, Arial, sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 175%;
  text-transform: capitalize;
  background-color: var(--main-light-bg);
  overflow: hidden;
}

.main * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  max-width: 1095px;
  margin: 0 auto;
  padding: 0 15px;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

img {
  max-width: 100%;
  vertical-align: bottom;
}

.list {
  list-style: none;
}

.link {
  color: var(--text-color);
  text-decoration: none;
}

.link:hover {
  color: var(--companies-intro-text);
}

.section {
  padding-block: 68px;
}

.section-title {
  margin-bottom: 16px;
  font-weight: 400;
  font-size: 16px;
  line-height: 175%;
  text-transform: capitalize;
}

.section-title:not(.hero-title) {
  text-transform: uppercase;
}

.section-intro {
  margin-bottom: 26px;
  font-weight: 700;
  font-size: 48px;
  line-height: 100%;
}

.section-text {
  margin-bottom: 49px;
}

.section-img-wrapper {
  flex: 0 0 450px;
}

.btn {
  padding-block: 10px;
  padding-inline: 31px;
  color: var(--btn-color);
  background-color: var(--btn-bg);
  font-size: inherit;
  text-decoration: none;
  text-transform: uppercase;
  border-radius: 8px;
}

/* Header */
.page-header {
  position: relative;
}

.page-header::before {
  content: "";
  position: absolute;
  display: block;
  background-color: var(--ellipse-top);
  width: 680px;
  height: 680px;
  z-index: 2;
  border-radius: 50%;
  top: -255%;
  left: -15%;
  filter: blur(153px);
}

.nav {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding-block: 46px;
}

.page-title {
  font-weight: 700;
  font-size: 20px;
  line-height: 120%;
  text-transform: uppercase;
}

.nav-list {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  column-gap: 44px;
}

.nav-link {
  font-weight: 400;
  font-size: 18px;
  text-transform: lowercase;
}

.nav-link.active {
  color: var(--active);
}

/* Burger */
.burger {
  display: none;
  width: 24px;
  height: 24px;
  padding: 4px 2px;
  position: relative;
  cursor: pointer;
}

.burger-line {
  display: block;
  width: 20px;
  height: 1px;
  position: absolute;
  background-color: var(--text-color);
}

.burger-line:first-child {
  top: 3px;
}

.burger-line:nth-child(2) {
  top: 50%;
}

.burger-line:last-child {
  bottom: 2px;
}

/* Hero section */
.hero-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.hero-desc {
  flex: 1 0 660px;
}

.hero-title {
  margin-bottom: 24px;
  font-weight: 700;
  font-size: 64px;
  line-height: 100%;
}

.hero-text {
  margin-bottom: 39px;
  font-size: 18px;
}

.hero-img-wrapper {
  flex-shrink: 1;
}

/* Companies section */
.companies-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.companies-intro {
  margin-bottom: 16px;
  padding-bottom: 0;
  font-weight: 300;
  font-size: 16px;
  line-height: 100%;
}

.companies-list {
  min-width: 90vw;
  display: flex;
  justify-content: space-between;
  padding-block: 19px;
  padding-inline: 24px;
  background-color: var(--main-dark-bg);
  border-radius: 8px;
}

.companies-item {
  max-width: 140px;
  max-height: 48px;
  min-width: 49px;
  min-height: 24px;
}

.companies-item:not(:last-child) {
  margin-right: 30px;
}

/* Branding section */
.branding-container {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  column-gap: 179px;
}

/* Custom section */
.custom {
  position: relative;
}

.custom::after {
  content: "";
  position: absolute;
  display: block;
  background-color: var(--ellipse-middle);
  width: 680px;
  height: 680px;
  z-index: 2;
  border-radius: 50%;
  top: -50%;
  right: -20%;
  filter: blur(153px);
}

.custom-container {
  display: flex;
  align-items: center;
  column-gap: 179px;
}

/* Testimonials section */
.testimonials-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.testimonials-intro {
  max-width: 440px;
  margin-bottom: 38px;
  padding-bottom: 0;
  text-align: center;
}

.testimonials-list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  column-gap: 15px;
}

.testimonial {
  padding: 32px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--main-dark-bg);
  border-radius: 20px;
  text-align: center;
}

.testimonial-title {
  margin-bottom: 27px;
  font-weight: 400;
  font-size: 18px;
}

.testimonial-img {
  order: -1;
  margin-bottom: 8px;
  border: 1px solid var(--testimonial-img-border);
  border-radius: 50%;
}

.testimonial-text {
  font-weight: 300;
  font-size: 14px;
  line-height: 130%;
}

/* Contact section */
.contact {
  padding-bottom: 139px;
}

.inner-wrapper {
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
  align-items: center;
  background-color: var(--main-dark-bg);
  border-radius: 20px;
}

.contact-desc {
  flex-basis: 55%;
  padding-inline: 90px;
}

.contact-img-wrapper {
  flex-basis: 45%;
  padding-left: 75px;
}

/* Footer */
.page-footer {
  padding-top: 105px;
  padding-bottom: 18px;
  background-color: var(--main-dark-bg);
}

.footer-container {
  display: grid;
  grid-template-columns: 200px 1fr;
}

.footer-logo {
  color: var(--text-color);
  text-decoration: none;
}

.footer-title {
  margin-bottom: 40px;
  font-size: 18px;
}

.footer-nav {
  display: flex;
  column-gap: 178px;
  max-width: 100%;
  margin-left: auto;
  margin-bottom: 110px;
}

.footer-list-title {
  margin-bottom: 32px;
}

.footer-list-item {
  margin-bottom: 24px;
}

.copyright {
  grid-column: 1 / -1;
  justify-self: center;
}

/* Media queries */
/* 768px < screen < 1024px */
@media (max-width: 1023px) {
  .container {
    min-width: 320px;
    max-width: 730px;
  }

  .section {
    padding-block: 60px;
  }

  .section-intro {
    font-size: 40px;
  }

  .companies-intro {
    font-size: 14px;
  }

  .page-title {
    font-size: 14px;
    text-transform: capitalize;
  }

  .nav-list {
    display: none;
  }

  .nav-list.opened {
    display: flex;
    flex-direction: column;
    row-gap: 30px;
    position: fixed;
    left: 0;
    right: 0;
    top: 82px;
    bottom: 0;
    padding-top: 100px;
    z-index: 5;
    background-color: var(--main-light-bg);
  }

  .nav-link {
    font-size: 30px;
  }

  .burger {
    display: block;
    position: absolute;
    top: 50px;
    right: 0;
    z-index: 10;
    transition: all 0.3s ease-in-out;
  }

  .burger-line {
    transition: all 0.3s ease-in-out;
  }

  .burger:hover {
    transform: scale(0.9);
  }

  .burger-line:first-child.active {
    transform: rotate(45deg) scaleX(1.33);
    transform-origin: 3px 0;
  }

  .burger-line:nth-child(2).active {
    opacity: 0;
  }

  .burger-line:last-child.active {
    transform: rotate(-45deg) scaleX(1.33);
    transform-origin: -2px 0;
  }

  .hero-container {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  .hero-desc {
    flex: 1 0 250px;
  }

  .hero-title {
    font-size: 40px;
  }

  .hero-text {
    font-size: 16px;
  }

  .btn {
    font-size: 14px;
  }

  .branding-container {
    column-gap: 20px;
  }

  .custom-container {
    column-gap: 20px;
  }

  .testimonials-list {
    flex-wrap: wrap;
    row-gap: 40px;
  }

  .contact-desc {
    padding-inline: 45px;
    padding-block: 45px;
  }

  .footer-nav {
    column-gap: 50px;
  }
}

@media (max-width: 767px) {
  .container {
    max-width: 380px;
  }

  .hero-desc {
    margin-bottom: 48px;
  }

  .hero-text {
    margin-bottom: 24px;
    font-size: 16px;
  }

  .section-intro:not(.companies-intro) {
    font-size: 32px;
  }

  .section-text:not(.contact-text) {
    margin-bottom: 32px;
    font-size: 14px;
  }

  .section-img-wrapper {
    flex: 0 0 380px;
  }

  .companies {
    padding-bottom: 28px;
  }

  .branding-container,
  .custom-container,
  .inner-wrapper {
    flex-direction: column;
    text-align: center;
  }

  .arrow-btn-icon {
    transform: rotate(90deg);
    margin-bottom: 25px;
  }

  .contact {
    margin-bottom: 68px;
  }

  .contact-text {
    width: 309px;
  }

  .contact-img-wrapper {
    display: none;
  }

  .footer-container {
    grid-template-columns: 1fr;
    justify-items: center;
  }

  .footer-intro {
    max-width: 190px;
    margin-bottom: 72px;
    text-align: center;
  }

  .footer-logo {
    font-size: 18px;
  }

  .footer-intro-text {
    line-height: 150%;
  }

  .footer-nav {
    flex-direction: column;
    max-width: 190px;
    margin: 0 auto;
    text-align: center;
  }

  .footer-list {
    margin-bottom: 72px;
  }

  .footer-list:last-child {
    margin-bottom: 92px;
  }

  .footer-list-title {
    font-size: 18px;
  }

  .copyright-text {
    font-weight: 300;
    font-size: 12px;
    line-height: 100%;
  }
}
